/**********************************
          CSS GÉNÉRAL
**********************************/
body{
    padding: 200px;
}

/**********************************
             JEU
**********************************/
#jeu{

    width: 400px;

    height: 400px;

    border: 2px black solid;

    overflow: hidden;

    position: relative;
}
.fond{

    margin-top:-5px;

    z-index: 10;

    position: absolute;

}

#vj{

    z-index: 80;

    position: absolute;

    top: 10px;

    left: -100px;

}

#vr{

    z-index: 100;

    position: absolute;

    top: 240px;

    left: 240px;

}
#fond1{
    bottom: 380px;
}
#fond2{
    bottom: 0px;
}